.ProjectsContainer {
  width: 100%;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: "Trebuchet MS";
}

.ProjectsHeading {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 15px;
  text-decoration: underline;
  text-decoration-color: red;
}

.ProjectsProjectCard {
  min-width: 400px;
  max-width: 50%;
  width: 45% !important;
  margin: 10px 10px 10px 10px !important;
  text-align: left;
  padding: 10px 10px 10px 10px;
  border-radius: 15px;
  box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto;
}

.ProjectsProjectCard:hover {
  box-shadow: 2px 8px 16px 0 rgba(0, 0, 0, 0.4),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ProjectTitleDiv {
  width: 100%;
  border-bottom: 1px solid #c9c5c5;
  min-height: 10%;
}

.ProjectsTitle {
  font-size: 2rem;
  font-weight: bold;
}
.ProjectCardBodyLanguage {
  color: #867c7c;
  font-weight: bold;
  font-style: italic;
  font-size: 1.5rem;
  margin-top: 5px;
  margin-bottom: 5px;
}
.ProjectCardBody {
  height: 550px !important;
}
.ProjectCardBodyImg {
  height: 300px;
  text-align: center;
  margin: 10px;
}
.ProjectCardBodyImg img {
  max-width: 100%;
  height: 100%;
  border: 1px solid #867c7c;
}
.ProjectCardLinksDiv {
  padding: 10px 10px 10px 10px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.ProjectCardLink {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}
.ProjectCardLink:link {
  text-decoration: none;
}

.ProjectCardLink:visited {
  text-decoration: none;
}

.ProjectCardLink:hover {
  text-decoration: none;
}

.ProjectCardLink:active {
  text-decoration: none;
}
